@import "tailwindcss";

@layer utilities {
  .bg-custom-image {
    background-image: url("../src/assets/bgImg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@theme {
  --color-purple-dark: #362e55;
  --color-purple-medium: #896cfe;
  --color-purple-light: #b48bdf;
  --color-gray-dark: #191919;
  --color-gray-semi-dark: #2b2b2b;
  --color-gray-medium: #676767;
  --color-gray-light: #7c7c8a;
  --color-red-medium: #f33c2e;
  --color-red-light: #ff5d5d;
  --color-green-medium: #64d47c;
  --color-bege: #f1f2f0;
  --color-gelo: #f3f6fb;
}

:root {
  font-family: "Inter", sans-serif;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #282828 inset !important;
    -webkit-text-fill-color: #7c7c8a !important;
  }
}

body {
  background-color: #232323;
}
