@import "tailwindcss";

@layer utilities {
  .bg-custom-image {
    background-image: url("../src/assets/bgImg.png");
    background-size: cover;
    background-position: center center;
  }
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-gray-01: #191919;
  --color-gray-02: #282828;
  --color-gray-03: #3F3F3F;
  --color-gray-04: #7C7C8A;
  --color-purple: #896CFE;
  --color-cool-red: #D65247
}

:root {
  font-family: "Inter", sans-serif;
}